<section class="page-section" id="about-me">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title">About Me</h1>
      <h2 class="section-subtitle">Experienced developer &amp; collaberator</h2>
    </header>
    <div class="row">
      <div class="cute-6-tablet bio">
        <h4>The Gist</h4>
        <p itemtype="description">Coding really began for me in college. I watched in amazement as my friends wrote programs to solve their everyday problems. After bombarding them with questions, they took it upon themselves to show me the basics, and the Internet became my playground.</p><br>
        <p>Fast-forward some years. Now I develop professional websites for a living. At the moment, I craft topnotch web experiences at <a href="https://greenhouse.io">Greenhouse</a>, a SaaS company based in NYC taking the recruiting community by storm. I develop all their public-facing collateral from the marketing site to HTML email campaigns.</p><br>
        <p>So if you'd like to grab a beer sometime and talk about life, the Internet, or just about anything else, be sure to hit me up at <a href="mailto:liam@liamscott.me">liam@liamscott.me</a></p>
      </div>
      <div class="cute-6-tablet">
        <img src={{ "assets/images/selfie.jpg" | prepend: site.baseurl }} alt="This is me!" class="selfie" itemtype="image">
      </div>
    </div>

  </div>
</section>