<section class="page-section" id="experiences">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title">Experience</h1>
    </header>

    <section id="careers">
      <h4>Careers</h4>
      <div class="row career">
        <div class="cute-5-tablet">
          <h5>Greenhouse Software</h5>
          <time>June 2015&ndash;Present</time>
        </div>
        <div class="cute-7-tablet">
          <strong>Front&ndash;End Engineer</strong>
          <p>At Greenhouse, I work at the intersection of the engineering, design, and marketing teams to develop and maintain public-facing assets including the marketing site, event sites, and customer advocacy sites. Going beyond the front&ndash;end, I also contribute to interface design, database maintence, server maintenence, caching strategy, health monitering, testing, and SEO for those applications.</p>
          <div class="company-contact">
            <span class="location" href="#"><i class="fa fa-globe"></i>New York, NY</span>
            <a class="site" href="https://greenhouse.io/"><i class="fa fa-link"></i>https://www.greenhouse.io</a>
          </div>
        </div>
      </div>
      <div class="row career">
        <div class="cute-5-tablet">
          <h5>Catnap Creative</h5>
          <time>Jan 2015&ndash;May 2015</time>
        </div>
        <div class="cute-7-tablet">
          <strong>Web Developer</strong>
          <p>I co-founded the Catnap web studio to provide small businesses in my area with quality web solutions. As lead developer I was responsible for planning, deploying and testing responsive websites and applications for clients. Catnap websites are optimized for retina screens, lightning speed, and scalability.</p>
          <div class="company-contact">
            <span class="location" href="#"><i class="fa fa-globe"></i>Greensboro, NC</span>
            <a class="site" href="http://www.catnap.co/"><i class="fa fa-link"></i>http://www.catnap.co</a>
          </div>
        </div>
      </div>
      <div class="row career">
        <div class="cute-5-tablet">
          <h5>MadMonk Interactive</h5>
          <time>Mar 2014&ndash;Sept 2014</time>
        </div>
        <div class="cute-7-tablet">
          <strong>Web Developer</strong>
          <p>MadMonk was a great place to start out my career. I got to develop websites for clients both large and small&mdash;from charming personal sites to hulking cooperate ones. Back-End, Front-End, Version Control, Responsive Design... I had to be able to do it all. I even pitched in on some SEO marketing campaigns. Following the whole creative cycle from start to finish so many times was a wonderful way to improve my efficiency and pick up new skills. At MadMonk, I coordinated with designers everyday to make sure projects were on the right track.</p>
          <div class="company-contact">
            <span class="location" href="#"><i class="fa fa-globe"></i>Greensboro, NC</span>
          </div>
        </div>
      </div>
    </section>

    <section id="education">
      <h4>Education</h4>
      <div class="row education">
        <div class="cute-5-tablet">
          <h5>The University of NC &ndash; Greensboro</h5>
          <time>Jan 2010&ndash;May 2015</time>
        </div>
        <div class="cute-7-tablet">
          <strong>Bachelor of Fine Arts | Minor, Computer Science</strong>
          <p>So the cat's finally out of the bag. My major is actually in the arts, but this doesn't mean I didn't get a firm grounding in programming fundamentals. My classes focused on Java as a teaching language. We covered complex subjects from polymorphism to object-oriented architectures. My coursework had me writing dozens of programs to familiarize me with advanced data structures and tools needed to build exceptional software.</p>
          <div class="company-contact">
            <span class="location" href="#"><i class="fa fa-globe"></i>Greensboro, NC</span>
            <a class="site" href="https://www.uncg.edu/"><i class="fa fa-link"></i>http://www.uncg.edu/</a>
          </div>
        </div>
      </div>
      <!-- <div class="row education">
        <div class="cute-5-tablet">
          <h5>The University of NC School of the Arts</h5>
          <time>Jan 2007&ndash;May 2008</time>
        </div>
        <div class="cute-7-tablet">
          <strong>High School w/ Concentration in Music</strong>
          <p>My high school was a little slice of heaven. Going to a conservatory to earn my high school diploma gave me the chance to practice and perform with more mature musicians. I also got to interact with young artists of every discipline&ndash;writers, painters, dancers, thespians. Together, we grew intellectually, artistically, and spiritually.</p>
          <div class="company-contact">
            <span class="location" href="#"><i class="fa fa-globe"></i>Winston-Salem, NC</span>
            <a class="site" href="http://http://www.uncsa.edu/"><i class="fa fa-link"></i>http://www.uncsa.edu/</a>
          </div>
        </div>
      </div> -->
    </section>

  </div>
</section>