<section id="hero">
  <div class="cover"></div>
  <div class="container">
    <h1 class="name">Liam Christopher Scott</h1>
    <h3 class="position">
      <span>Front&ndash;End Engineer</span>
    </h3>
  </div>
  <div class="social-media">
    <a href="https://github.com/liamscott">
      <i class="fa fa-github-square"></i>GitHub
    </a>
    <a href="https://www.linkedin.com/pub/liam-scott/b7/2b5/990">
      <i class="fa fa-linkedin-square"></i>LinkedIn
    </a>
    <a href="mailto:liam@liamscott.me">
        <i class="fa fa-envelope"></i>Email
    </a>
  </div>
  <a href="#about-me" class="scroll-down fa fa-chevron-down" data-scroll></a>
</section>