<section class="page-section" id="interests">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title">Interests</h1>
      <h2 class="section-subtitle">Enough with all this serious stuff.</h2>
    </header>
    <figure class="interest even">
        <i class="fa fa-tint"></i>
        <figcaption>
          <h4>Swimming</h4>
          <p>I've been swimming since I was just a wee-thing. And even though it flies right in the face of "The Red&ndash;Head Manual", I love to be soaking up rays by the river on a warm day. Of course, swimming laps at the pool will do in a pinch.</p>
        </figcaption>
    </figure>
    <figure class="interest odd">
        <i class="fa fa-tree"></i>
        <figcaption>
          <h4>Hiking</h4>
          <p>Since I grew up in the foothills of the Appalachian, I just can't resist a hike on a clear day. There's just something about the crisp scent of pine trees and gentle lilting of the Blue Ridge that says, "You're home."</p>
        </figcaption>
    </figure>
    <figure class="interest even">
        <i class="fa fa-trophy"></i>
        <figcaption>
          <h4>Igo</h4>
          <p>For those of you who don't know, Igo is a 4000 year old Chinese strategy game that holds the answers to the meaning of life. Okay, I'm kidding. You really thought I was crazy there for a minute. But in all seriousness, there's no denying that something is deeply spiritual about Igo and I like to spend my free-time studying or playing games with friends.</p>
        </figcaption>
    </figure>
    <figure class="interest odd">
        <i class="fa fa-paw"></i>
        <figcaption>
          <h4>Cats</h4>
          <p>I love them. I mean... who doesn't? They're cute. They're furry. They wake you up at the crack of dawn by trying to lick your eyeballs. Wait, scratch that last one. That might just be my cat. But honestly, they're awesome creatures. The black ones are especially close to my heart.</p>
        </figcaption>
    </figure>
    <figure class="interest even">
        <i class="fa fa-coffee"></i>
        <figcaption>
          <h4>Coffee</h4>
          <p>This one is almost a clich&eacute;, but what developer doesn't enjoy a warm cup of coffee? Black, of course. Even after years working in a coffee shop, the smell of a fresh pot brewing still puts a smile on my face.</p>
        </figcaption>
    </figure>
  </div>
</section>