<ul class="side-menu">
  <li class="active">
    <a href="#hero" data-scroll>
      <span>Opening</span>
      <i></i>
    </a>
  </li>
  <li>
    <a href="#about-me" data-scroll>
      <span>About Me</span>
      <i></i>
    </a>
  </li>
  <li>
    <a href="#experiences" data-scroll>
      <span>Experiences</span>
      <i></i>
    </a>
  </li>
  <li>
    <a href="#abilities" data-scroll>
      <span>Abilities</span>
      <i></i>
    </a>
  </li>
  <li>
    <a href="#interests" data-scroll>
      <span>Interests</span>
      <i></i>
    </a>
  </li>
  <li>
    <a href="#contact" data-scroll>
      <span>Contact</span>
      <i></i>
    </a>
  </li>
</ul>