<section class="page-section" id="abilities">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title">Abilities</h1>
      <h2 class="section-subtitle">Check out the technologies I work with every day</h2>
    </header>
    <div class="row skills">
      <ul class="cute-6-tablet skills-row">
        <!-- Five Stars -->
        <li>
          <span class="skill">HTML5</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">CSS3</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">SASS</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">JavaScript</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">jQuery</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">PHP</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Craft</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>

        <!-- Four Stars -->
        <li>
          <span class="skill">WordPress</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Ajax</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </ul>

      <ul class="cute-6-tablet skills-row">
        <li>
          <span class="skill">Apache</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Nginx</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">SQL</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Jekyll</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Git</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Command Line</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>SEO</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>

        <!-- Three Stars -->
        <li>
          <span class="skill">Java</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">AngularJS</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </ul>
    </div>

    <h4>Tools</h4>
    <div class="row tools">
      <ul class="cute-6-tablet skills-row">
        <li>
          <span class="skill">Sublime Text 3</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">Amazon S3</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">Sequel Pro</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">Chrome Dev Tools</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">Heroku</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </li>
        <li>
          <span class="skill">Travis</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">GitHub for Mac</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </ul>
      <ul class="cute-6-tablet skills-row">

        <li>
          <span class="skill">Homebrew</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Grunt</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Compass</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Mac OSX</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Windows</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">Solano</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
        <li>
          <span class="skill">NetBeans</span>
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </ul>
  </div>
  <div class="cta-block">
    <p class="cta-description">It's always hard to rank yourself, and I've tried my best to be honest. Please know these ranks are relative to my own talents. Just cause I gave myself 5 stars in a skill doesn't mean I'm necessarily a wizard. Check out my resume to see more about me skills and experience.</p>
    <a href="http://liamscott.me/resume" class="cta-button">R&eacute;sum&eacute;</a>
  </div>
</section>